@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

/* RESET CSS */
* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0;
    font-family: 'Open Sans', sans-serif;
}
/* RESET CSS END */

.bg-purple {
    background-color: #8158c5!important;
}

.bg-orange {
    background-color: #ffa200!important;
}

.color-white {
    color: #ffffff!important;
}

.d-flex {
    display: flex;
}

.py-1 {
    padding: 1rem 0.5rem;
    box-sizing: border-box;
}

.center-sec {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.flex-column {
    flex-direction: column;
}

.section-title h1 {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: #7f7f7f;
}

/* CAROUSEL */
.owl-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.owl-nav {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 1170px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.owl-nav .owl-prev,
.owl-nav .owl-next {
    color: #7f7f7f!important;
    font-size: 110px!important;
    background: none!important;
}

.owl-nav .owl-prev:hover,
.owl-nav .owl-next:hover {
    color: #ffa200!important;
}
/* CAROUSEL END */

/* CATEGORIES SECTION */
.categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: #ffa200;
}

.categories div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    max-width: 1170px;
}

.categories img { 
    width: 100%;
}
/* CATEGORIES SECTION END */

/* GRID PRODUCTS */
.grid-products {
    width: 100%;
    max-width: 1170px;
    display: grid;
    
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-column-gap: 10px;
    grid-row-gap: 1em;
}

.product {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0.5rem;
    max-height: 400px;
    text-align: center;
    color: #7f7f7f;
}

.product:hover .image {
    opacity: 0.3;
}

.product:hover .product-overlay {
    opacity: 1;
}

.product-overlay {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.image {
    display: block;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
    width: 100%;
    object-fit: cover;
}
.product-image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-buy-button {
    cursor: pointer;
    padding: 10px 15px;
    box-sizing: border-box;
    color: #ffffff;
    background-color: #ffa200;
    text-transform: uppercase;
}

.product-price {
    display: flex;
    font-weight: 700;
}

.product-discount {
    font-weight: 400;
    margin-right: 10px;
    font-size: 14px;
    text-decoration: line-through;
}

.product-badge {
    position: absolute;
    min-width: 60px;
    top: 0;
    left: 0;
    padding: 5px;
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    z-index: 1;
}
/* GRID PRODUCTS END */

/* BANNER CATEGORIES SECTION */

.banner-categories div {
    max-width: 1170px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.banner-categories div figure img {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}
/* BANNER CATEGORIES SECTION END */

/* STRIP BANNER */
.strip-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    color: #ffffff;
    text-transform: uppercase;
    box-sizing: border-box;
}

.strip-banner div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-right: 30px;
}
.strip-banner div.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    min-height: 70px;
    padding: 0px 50px 12px 50px;
    border-bottom: 2px solid #ffa200;
}

.strip-banner img {
    margin-right: 10px;
}
/* STRIP BANNER END*/

/* NEWSLETTER SECTION */
.newsletter {
    text-align: center;
    padding-bottom: 2rem;
}

#newsletter-form {
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#newsletter-form ::placeholder {
    color: #ffffff;
    opacity: 1; /* Firefox */
}
  
#newsletter-form :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #ffffff;
}
  
#newsletter-form ::-ms-input-placeholder { /* Microsoft Edge */
   color: #ffffff;
}

#newsletter-form input[type=text] {
    min-width: 150px;
}

#newsletter-form input[type=email] {
    min-width: 250px;
}

#newsletter-form input[type=text],
#newsletter-form input[type=email] {
    min-height: 35px;
    margin-right: 10px;
    padding: 0px 20px 10px 0px;
    outline: none;
    color: #ffffff;
    background: transparent;
    border-bottom: 1px solid #ffffff;
    box-sizing: border-box;
}
#newsletter-form input[type=submit] {
    min-height: 35px;
    margin-right: 10px;
    padding: 10px 25px;
    font-weight: 700;
    text-transform: uppercase;
    outline: none;
    color: #ffffff;
    background: transparent;
    box-sizing: border-box;
}

/* NEWSLETTER SECTION END */

/* FOOTER SECTION */
#main-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
}

#main-footer .container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    max-width: 1170px;
    padding: 1rem;
    box-sizing: border-box;
}

.footer-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-social {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 15px 0;
}

.footer-social figure {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin: 10px;
    border-radius: 30px;
    background-color: #7f7f7f;
    transition: .2s;
}
.footer-social figure:hover {
    background-color: #ffa200;
    transform: scale(1.2);
}

#business-info {
    color: #7f7f7f;
    font-size: 14px;
    text-align: center;
}

.footer-menu {
    margin: 1rem 0;
}
.footer-menu p {
    color: #8158c5;
    font-weight: 700;
    text-transform: uppercase;
}

.footer-menu ul{
    display: block;
    list-style: none;
    color: #7f7f7f;
}

.footer-menu ul li {
    padding: 5px 0;
}

.footer-payments figure {
    margin: 3px;
}

.bottom-footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #7f7f7f;
    font-size: 14px;
    border-top: 1px solid #cccccc;
    padding-top: 1rem;
}

.bottom-footer figure {
    margin-left: 20px;
}
/* FOOTER SECTION END */

/* MOBILE CSS */
@media only screen and (max-width: 768px) {
    /* MOBILE HEADER */
    #main-header-mobile {
        position: fixed;
        display: flex;
        flex-direction: column;
        z-index: 10;
        width: 100%;
        background: #fff;
        -webkit-box-shadow: 0px 2px 20px 0px rgb(0 0 0 / 30%);
        box-shadow: 0px 2px 20px 0px rgb(0 0 0 / 30%);
    }

    .top-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.75rem;
    }

    .menu-open-button {
        display: flex;
        align-items: center;
        justify-content: center;
        background: transparent;
    }

    .logo-header-content figure {
        display: flex;
        justify-content: center;
    }

    .logo-header-content figure img{
        width: 50%;
    }

    .menu-mobile {
        position: fixed;
        top: 0;
        left: 0;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        color: #ffffff;
        z-index: 2;
        display: none;
        overflow: auto;
        background: #8158c5;
    }

    .background-menu {
        width: 100%;
        height: 100%;
        background: #8158c5;
        position: fixed;
        z-index: -1;
        top: 0;
    }

    .icon-menu {
        padding: 15px;
    }
    
    #menu {
        position: absolute;
        width: 100%;
        height: 100%;
        padding-top: 50px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #8158c5;
        -webkit-font-smoothing: antialiased;
    }

    .menu-close-button {
        position: absolute;
        width: 30px;
        height: 30px;
        margin-top: -35px;
        margin-left: 12px;
        background: transparent;
        color: #ffffff;
        font-weight: 700;
    }

    .menu-mobile .main-nav ul {
        padding: 0 0 0.5rem 0;
    }

    .menu-mobile .main-nav ul li {
        padding: 0.6rem;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    .account-content {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0.5rem 1rem;
        background: #68469f;
    }

    .account-content figure {
        filter: brightness(3);
    }

    .account-content figure,
    .account-content div {
        margin-right: 20px;
    }

    #main-header-mobile .search-content {
        display: flex;
        justify-content: center;
        margin-top: 0.3rem;
        padding: 0.5rem;
        box-sizing: border-box;
        background-color: #8158c5;
        width: 100%;
    }

    #main-header-mobile .search-content #main-search {
        width: 100%;
        height: 30px;
        border-radius: 3px;
        padding: 5px;
        border: 1px solid #cccccc;
    }
    /* MOBILE HEADER END */

    /* GRID PRODUCTS */
    .grid-products {
        grid-template-columns: repeat(2, minmax(50%, 1fr));
        grid-column-gap: 0;
        grid-row-gap: 1em;
    }

    /* GRID PRODUCTS END */

    /* BANNER CATEGORIES SECTION */
    .banner-categories div {
        flex-direction: column;
    }
    /* BANNER CATEGORIES SECTION END */

    /* STRIP BANNER */
    .strip-banner div {
        flex-direction: column;
        padding: 0.5rem;
        margin-right: unset;
    }

    .strip-banner div.container {
        flex-direction: column;
        padding: 0px 5px 12px 5px;
    }

    .strip-banner div.container p{
        text-align: center;
    }
    /* STRIP BANNER END */

    /* NEWSLETTER SECTION */
    #newsletter-form {
        flex-direction: column;
    }

    #newsletter-form input[type=text],
    #newsletter-form input[type=email] {
        min-width: 100%;
        margin: 0.5rem 1rem;
        padding: 5px;
    }
    
    /* NEWSLETTER SECTION END*/

    /* FOOTER SECTION */
    #main-footer .container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
    }
    /* FOOTER SECTION END */


}
/* MOBILE CSS END */

#main-header {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 10;
    width: 100%;
    background: #fff;
    -webkit-box-shadow: 0px 2px 20px 0px rgb(0 0 0 / 30%);
    box-shadow: 0px 2px 20px 0px rgb(0 0 0 / 30%);
    height: 170px;
    width: 100%;
} 

/* Large devices (laptops/desktops, 768px and up) */
@media only screen and (min-width: 768px) {
    #main-header-mobile {
        display: flex;
        flex-direction: column;
        display: none;
    }

    #main-header {
        display: flex;
    }
    
    #top-header {
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: relative;
        height: 120px;
        width: 100%;
        max-width: 1170px;
    }
    
    #bottom-header {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        height: 50px;
        width: 100%;
    }
    
    #main-search {
        outline: none;
        padding: 5px;
    }

    .search-content {        
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #cccccc;
        height: 35px;
    }

    .search-content button { 
        cursor: pointer;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: transparent;
    }
    
    #header-settings {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #header-settings #profile,
    #header-settings #cart {
        margin: 10px;
    
    }
    
    #main-nav {
        display: flex;
        justify-content: center;
        position: relative;
        height: 50px;
        width: 100%;
        max-width: 1170px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        color: #fff;
    }
    
    #main-nav a {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        text-decoration: none;
        height: 100%;
        width: 100%;
        transition: .1s;
        box-sizing: border-box;
    }

    .dropdown {
        position: relative;
        text-align: center;
        width: 100%;
        height: 100%;
    }

    .dropdown .dropbtn {
        cursor: pointer;
        font-size: 16px;  
        border: none;
        outline: none;
        color: white;
        width: 100%;
        height: 100%;
        padding: 0 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
        transition: .2s;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: max-content;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 5;
    }
    
      
      .dropdown-content a {
        float: none;
        color: #7f7f7f!important;
        justify-content: start!important;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
      }
      
      .dropdown-content a:hover {
        background-color: #7f7f7f!important;
        color: #ffffff!important;
      }
      
      .dropdown:hover .dropdown-content {
        display: block;
        margin-bottom: 100%;
      }
    
    #main-nav a:hover {
        background-color: #ffa200;
        color: #8158c5;
    }

    .dropdown .dropbtn:hover {
        background-color: #ffa200;
    }

}
/* Extra large devices (large laptops and desktops, 1024px and up) */
@media only screen and (min-width: 1024px) {
        /* CATEGORIES SECTION */
    
        .categories div {
            flex-direction: row;
        }

        .categories img { 
            width: 100%;
        }
    
        /* CATEGORIES SECTION END */
}